# Virtual environment folders
venv/
.venv/

# Environment variables
.env

# Python cache and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Editor and IDE files
.vscode/
.idea/
.DS_Store

setup.txt
requirements.txt
benchmark_scraper.py
